<mat-toolbar color="primary" class="flex-container">
  <div>
    <!--<span [textContent]="title"></span>-->
    <span>{{title}}</span>
    <a routerLink="/home" mat-button>
      <mat-icon>home</mat-icon>
      Accueil
    </a>
    <a [routerLink]="['/rooms/index']" mat-button>
      <mat-icon>room</mat-icon>
      Salles
    </a>
    <a routerLink="/rooms/create" mat-button>
      <mat-icon>add</mat-icon>
      Ajouter
    </a>
  </div>
  <div>
    <ng-container *ngIf="user == null; else log">
      <a routerLink="/auth/login" mat-button>
        <mat-icon>locked_out</mat-icon>
        Login
      </a>
    </ng-container>
    <ng-template #log>
      Bonjour toto
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #appMenu="matMenu">
        <a href="" mat-menu-item>
          <mat-icon>personne</mat-icon>
          Profile
        </a>
        <button mat-menu-item>
          <mat-icon>locked_in</mat-icon>
          Logout
        </button>
      </mat-menu>
    </ng-template>


  </div>


</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <app-topfive></app-topfive>
</footer>