<h1>Liste des salles</h1>

<table mat-table #table [dataSource]="rooms" class="mat-elevation-z8">

  <ng-container matColumnDef="toto">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let obj">{{obj.name}}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Prix</th>
    <td mat-cell *matCellDef="let obj">{{obj.price}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let obj">
      <a mat-button [routerLink]="['/rooms/detail/', obj.id]">
        <mat-icon>search</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="cols"></tr>
  <tr mat-row *matRowDef="let row; columns: cols;"></tr>
</table>